<h1>タスク一覧</h1>

<% if logged_in? %>
  <p>ログインユーザ：<%= current_user.email %></p>
  <%= link_to 'Log out', sessions_path %>


  <% if @tasks.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>ステータス</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= link_to task.id, task %></td>
            <td><%= task.status %></td>
            <td><%= task.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
  <% end %>
  <%= link_to '新規タスクの追加', new_task_path, class: "btn btn-primary" %>
  
<% else %>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to '新規登録する', signup_path, class: 'btn btn-primary btn-block' %>
      <%= link_to 'ログイン', sessions_new_path, class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>

